body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #24292e;
  background-color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 16px;
  word-wrap: break-word;
}

.header {
  height: 5rem;
  border-bottom: 1px solid #eaecef;
  background-color: #f6f8fa;
}

.header .inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 48rem;
  padding: 0rem 2rem;
  margin: 0 auto;
}

.header .title {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.header .title img {
  height: 3rem;
  width: 3rem;
  margin-right: 1.5rem;
}

.header .version {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header .version .label {
  color: #242424;
}

.header .version .id {
  font-weight: bold;
  font-size: 1.25rem;
  padding-top: 2px;
}

.warning-banner {
  position: sticky;
  top: 0px;
  background-color: #faca15;
  color: #000;
}

.warning-banner .inner {
  height: 100%;
  max-width: 48rem;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  margin: 0 auto;
}

.toc {
  flex-shrink: 0;
  max-width: 16rem;
  width: 100%;
  padding: 3rem 2rem;
  overflow: hidden;
}

.content {
  border-left: 1px solid #eaecef;
  padding: 3rem 2rem;
  max-width: 48rem;
  width: 100%;
  overflow: hidden;
}

.main {
  display: flex;
  justify-content: center;
}

.toc .list {
  list-style: none;
  list-style-position: inside;
  counter-reset: item;
  margin: 0;
  padding: 0;
}

.toc > .list {
  margin: -1.5rem 0;
}

.toc > .list {
  font-weight: bold;
}

.toc .list li > a {
  color: inherit;
  text-decoration: none;
}

.toc .list li.active > a {
  color: #0366d6;
}

.toc .list li > a:hover {
  text-decoration: underline;
}

.toc .list .list li > a {
  font-weight: normal;
}

.toc .list > li:before {
  font-feature-settings: "kern" 1, "tnum" 1;
  -webkit-font-feature-settings: "kern" 1, "tnum" 1;
  -ms-font-feature-settings: "kern" 1, "tnum" 1;
  -moz-font-feature-settings: "kern" 1, "tnum" 1;
  content: counters(item, ".") ". ";
  counter-increment: item;
}

.toc .list .list {
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.toc .list > li {
  margin: 1rem 0;
}

.toc .list .list > li {
  margin: 0.4rem 0;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #c9d1d9;
    background-color: #0d1117;
  }

  .header {
    border-bottom-color: #21262d;
    background-color: #161a22;
  }

  .header .version .label {
    color: #9fa7b6;
  }

  .content {
    border-color: #21262d;
  }

  .toc .list li.active > a {
    color: #58a6ff;
  }
}
